[data-theme = 'light'] {
    margin: 0;
    background: white;
}
[data-theme = 'dark'] {
    margin: 0;
    background: black;
}
.movies_list {
    display: flex;
}
.movie_card {
    margin-left: 15px;
}